{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique - Nos Menus
{% endblock %}

{% block content %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 100%;
			width: 95%;
			font: 16px / 1.5 sans-serif;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 15px;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.card-body, .menu-title {
			text-align: center;
		}
	</style>

	<h1 class="menu-title">Nos menus</h1>
	<div class="example-wrapper">
		<div class="card" style="width: 25rem;">
			<img src="{{ asset('assets/img/photo_0.jpg') }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title"><b>Menu Burger</b></h3>
				<p></p>
				<h4 class="card-text">Formule gourmande</h4>
				<p>Hamburger + Frites
					<br>(Boeuf ou poulet)</p>
				<p>+</p>
				<p></p>
				<p>Boisson au choix</p>
				<p></p>
				<p>Prix :</p>
				<h4 class="card-text">Formule Americaine</h4>
				<p>Hamburger + frites
					<br>(Boeuf ou poulet)</p>
				<e>* Double Steak</e>
				<p>Prix :
				</p>
			</div>
		</div>
		<div class="card" style="width: 25rem;">
			<img src="{{ asset('assets/img/photo_5.jpg') }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title">
					<b>Menu Veggie</b>
				</h3>
				<p></p>
				<h4 class="card-text">Formule gourmande</h4>
				<p><b>------ Entrée ------</b></p>
				<p>Salade verte</p>
				<b>+</b>
				<p>
					<p><b>------ Plat ------</b></p>
				</p>
				<p>Tchoutchouka aux oeufs</p>
				<b>+</b>
				<p>
					<p><b>------ Dessert ------</b></p>
				</p>
				<p>Tiramitsu à la Framboise</p>
				<p>Prix :</p>
			</div>
		</div>
		<div class="card" style="width: 25rem;">
			<img src="{{ asset('assets/img/photo_4.jpg') }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title"><b>Menu Pasta</b></h3>
				<p></p>
				<h4 class="card-text">Formule gourmande</h4>
				<p>Hamburger + frites (Boeuf ou poulet)</p>
				<p>Prix :</p>
				<h4 class="card-text">Formule
				</h4>
				<p></p>
				<h4 class="card-text">Prix</h4>
				<p></p>
			</div>
		</div>
				<div class="card" style="width: 25rem;">
			<img src="{{ asset('assets/img/photo_2.jpg') }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h3 class="card-title"><b>Menu Pasta</b></h3>
				<p></p>
				<h4 class="card-text">Formule gourmande</h4>
				<p>Hamburger + frites (Boeuf ou poulet)</p>
				<p>Prix :</p>
				<h4 class="card-text">Formule
				</h4>
				<p></p>
				<h4 class="card-text">Prix</h4>
				<p></p>
			</div>
		</div>
	</div>

{% endblock %}
