{% extends 'base.html.twig' %}

{% block title %}Réservation effectuée{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="alert alert-success text-center">
            Votre réservation a bien été enregistrée !
        </div>
    </div>
{% endblock %}
