{% extends 'base.html.twig' %}

{% block content %}
	<main class="main_container container-fluid">
		<div class="container-fluid">
			<div id="titleMenu" class="col col-lg-6 col-sm-12 col-md-7 flexCol">
				<div>
					<div>
						<h1 class="headline" style="text-align: left;">Bienvenue au Quai Antique !</h1>
					</div>
					<a class="btn btn-primary" href="{{ path('app_reservation') }}" title="" role="button">
						<span>Réservez une table</span>
					</a>
				</div>
			</div>
		</div>
	</main>
{% endblock %}
