{% extends 'base.html.twig' %}

{% block content %}
	<main class="main_container container-fluid">

	</main>
	<aside class="aside_button">
<button class="btn btn-primary btn-lg">Réserver un table</button>
</aside>
{% endblock %}
