{% extends 'base.html.twig' %}

{% block title %}Reserver une table{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<script>

</script>
<div class="example-wrapper">

<div id="tableId"></div>

    <h1>Réserver une table</h1>
    <div class="section_1">
	<button class="btn btn-primary" onclick="bookedTable_1()">Réserver table 1</button>
	<button class="btn btn-primary" onclick="freeTable_1()">Libérer table 1</button>
    </div>
    <div class="section_2">
        <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Plan_de_table" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 210 297" style="enable-background:new 0 0 210 297;" xml:space="preserve">
	<path style="fill:none;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M199.525,208.337H9.419
		c-1.559,0-2.835-1.276-2.835-2.835V25.434c0-1.559,1.276-2.835,2.835-2.835h190.106c1.559,0,2.835,1.276,2.835,2.835v180.068 C202.36,207.061,201.084,208.337,199.525,208.337z"/>
	<g class="table_1">
		<path id="table_1_path_1" style="fill:#008000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M33.799,57.234H19.626
			c-0.78,0-1.417-0.638-1.417-1.417V41.644c0-0.78,0.638-1.417,1.417-1.417h14.173c0.78,0,1.417,0.638,1.417,1.417v14.173
			C35.216,56.596,34.578,57.234,33.799,57.234z"/>
		<path id="table_1_path_2" style="fill:#008000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M27.017,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.852,65.617,28.576,66.892,27.017,66.892z"/>
		<path id="table_1_path_3" style="fill:#008000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M26.919,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.754,35.497,28.478,36.772,26.919,36.772z"/></g>
	<g class="table_2" id="table_2">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M69.634,57.369H46.957
			c-0.78,0-1.417-0.638-1.417-1.417V41.779c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C71.051,56.731,70.413,57.369,69.634,57.369z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,35.497,54.802,36.772,53.243,36.772z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,35.497,65.572,36.772,64.013,36.772z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,65.617,54.802,66.892,53.243,66.892z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,65.617,65.572,66.892,64.013,66.892z"/></g>
	<g class="table_3" id="table_3">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M104.724,57.369H82.047
			c-0.78,0-1.417-0.638-1.417-1.417V41.779c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C106.141,56.731,105.503,57.369,104.724,57.369z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,35.497,89.892,36.772,88.333,36.772z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,35.497,100.662,36.772,99.103,36.772z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,65.617,89.892,66.892,88.333,66.892z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,65.617,100.662,66.892,99.103,66.892z"/></g>
	<g class="table_4" id="table_4">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M193.585,56.965h-31.181
			c-0.78,0-1.417-0.638-1.417-1.417V41.374c0-0.78,0.638-1.417,1.417-1.417h31.181c0.78,0,1.417,0.638,1.417,1.417v14.173
			C195.002,56.327,194.365,56.965,193.585,56.965z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M166.942,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C169.776,35.497,168.501,36.772,166.942,36.772z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M177.711,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C180.546,35.497,179.27,36.772,177.711,36.772z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M188.481,36.772h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C191.316,35.497,190.04,36.772,188.481,36.772z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M167.342,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C170.177,65.617,168.901,66.892,167.342,66.892z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M178.112,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C180.946,65.617,179.671,66.892,178.112,66.892z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M188.881,66.892h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C191.716,65.617,190.441,66.892,188.881,66.892z"/></g>
	<g class="table_5" id="table_5">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M33.799,99.055H19.626
			c-0.78,0-1.417-0.638-1.417-1.417V83.465c0-0.78,0.638-1.417,1.417-1.417h14.173c0.78,0,1.417,0.638,1.417,1.417v14.173
			C35.216,98.417,34.578,99.055,33.799,99.055z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M27.017,108.77h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.852,107.495,28.576,108.77,27.017,108.77z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M26.919,78.972h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.754,77.697,28.478,78.972,26.919,78.972z"/></g>
	<g class="table_6" id="table_6">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M69.634,99.408H46.957
			c-0.78,0-1.417-0.638-1.417-1.417V83.818c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C71.051,98.77,70.413,99.408,69.634,99.408z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,78.811h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,77.535,54.802,78.811,53.243,78.811z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,78.811h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,77.535,65.572,78.811,64.013,78.811z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,108.931h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,107.656,54.802,108.931,53.243,108.931z"/>
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,108.931h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,107.656,65.572,108.931,64.013,108.931z"/></g>
	<g class="table_7" id="table_7">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M104.724,99.408H82.047
			c-0.78,0-1.417-0.638-1.417-1.417V83.818c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C106.141,98.77,105.503,99.408,104.724,99.408z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,78.811h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,77.535,89.892,78.811,88.333,78.811z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,78.811h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,77.535,100.662,78.811,99.103,78.811z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,108.931h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,107.656,89.892,108.931,88.333,108.931z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,108.931h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,107.656,100.662,108.931,99.103,108.931z"/></g>
	<g class="table_8" id="table_8">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M190.139,99.408h-22.677
			c-0.78,0-1.417-0.638-1.417-1.417V83.818c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C191.557,98.77,190.919,99.408,190.139,99.408z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M173.749,78.811h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C176.583,77.535,175.308,78.811,173.749,78.811z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M184.518,78.811h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C187.353,77.535,186.077,78.811,184.518,78.811z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M173.749,108.931h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C176.583,107.656,175.308,108.931,173.749,108.931z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M184.518,108.931h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C187.353,107.656,186.077,108.931,184.518,108.931z"/></g>
	<g class="table_9" id="table_9">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M33.799,141.797H19.626
			c-0.78,0-1.417-0.638-1.417-1.417v-14.173c0-0.78,0.638-1.417,1.417-1.417h14.173c0.78,0,1.417,0.638,1.417,1.417v14.173
			C35.216,141.159,34.578,141.797,33.799,141.797z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M27.017,151.512h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.852,150.236,28.576,151.512,27.017,151.512z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M26.919,121.714h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.754,120.438,28.478,121.714,26.919,121.714z"/></g>
	<g class="table_10" id="table_10">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M69.634,142.15H46.957
			c-0.78,0-1.417-0.638-1.417-1.417v-14.173c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C71.051,141.512,70.413,142.15,69.634,142.15z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,121.553h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,120.277,54.802,121.553,53.243,121.553z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,121.553h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,120.277,65.572,121.553,64.013,121.553z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,151.673h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,150.397,54.802,151.673,53.243,151.673z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,151.673h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,150.397,65.572,151.673,64.013,151.673z"/></g>
	<g class="table_11" id="table_11">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M104.724,142.15H82.047
			c-0.78,0-1.417-0.638-1.417-1.417v-14.173c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C106.141,141.512,105.503,142.15,104.724,142.15z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,121.553h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,120.277,89.892,121.553,88.333,121.553z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,121.553h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,120.277,100.662,121.553,99.103,121.553z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,151.673h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,150.397,89.892,151.673,88.333,151.673z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,151.673h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,150.397,100.662,151.673,99.103,151.673z"/></g>
	<g class="table_12" id="table_12">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M190.409,142.15h-22.677
			c-0.78,0-1.417-0.638-1.417-1.417v-14.173c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C191.826,141.512,191.188,142.15,190.409,142.15z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M174.018,121.553h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C176.853,120.277,175.577,121.553,174.018,121.553z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M184.788,121.553h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C187.623,120.277,186.347,121.553,184.788,121.553z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M174.018,151.673h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C176.853,150.397,175.577,151.673,174.018,151.673z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M184.788,151.673h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C187.623,150.397,186.347,151.673,184.788,151.673z"/></g>
	<g class="table_13" id="table_13">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M33.799,186.088H19.626
			c-0.78,0-1.417-0.638-1.417-1.417v-14.173c0-0.78,0.638-1.417,1.417-1.417h14.173c0.78,0,1.417,0.638,1.417,1.417v14.173
			C35.216,185.45,34.578,186.088,33.799,186.088z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M27.017,195.803h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.852,194.527,28.576,195.803,27.017,195.803z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M26.919,166.005h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C29.754,164.729,28.478,166.005,26.919,166.005z"/></g>
	<g class="table_14" id="table_14">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M69.634,186.44H46.957
			c-0.78,0-1.417-0.638-1.417-1.417V170.85c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C71.051,185.803,70.413,186.44,69.634,186.44z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,165.843h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,164.568,54.802,165.843,53.243,165.843z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,165.843h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,164.568,65.572,165.843,64.013,165.843z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M53.243,195.964h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C56.078,194.688,54.802,195.964,53.243,195.964z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M64.013,195.964h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C66.847,194.688,65.572,195.964,64.013,195.964z"/></g>



	<g class="table_15" id="table_15">
		<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M104.724,186.44H82.047
			c-0.78,0-1.417-0.638-1.417-1.417V170.85c0-0.78,0.638-1.417,1.417-1.417h22.677c0.78,0,1.417,0.638,1.417,1.417v14.173
			C106.141,185.803,105.503,186.44,104.724,186.44z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,165.843h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,164.568,89.892,165.843,88.333,165.843z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,165.843h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,164.568,100.662,165.843,99.103,165.843z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M88.333,195.964h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C91.168,194.688,89.892,195.964,88.333,195.964z"/>
		<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M99.103,195.964h-0.415
			c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
			C101.938,194.688,100.662,195.964,99.103,195.964z"/></g>
	<g class="table_16" id="table_16">
	<path style="fill:#FF0000;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M194.394,186.036h-31.181
		c-0.78,0-1.417-0.638-1.417-1.417v-14.173c0-0.78,0.638-1.417,1.417-1.417h31.181c0.78,0,1.417,0.638,1.417,1.417v14.173
		C195.811,185.398,195.173,186.036,194.394,186.036z"/>
	<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M167.751,165.843h-0.415
		c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
		C170.585,164.568,169.31,165.843,167.751,165.843z"/>
	<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M178.52,165.843h-0.415
		c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
		C181.355,164.568,180.079,165.843,178.52,165.843z"/>
	<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M189.29,165.843h-0.415
		c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
		C192.125,164.568,190.849,165.843,189.29,165.843z"/>
	<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M168.151,195.964h-0.415
		c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
		C170.986,194.688,169.71,195.964,168.151,195.964z"/>
	<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M178.921,195.964h-0.415
		c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
		C181.755,194.688,180.48,195.964,178.921,195.964z"/>
	<path style="fill:#FFFFFF;stroke:#000000;stroke-width:0.5;stroke-miterlimit:10;" d="M189.69,195.964h-0.415
		c-1.559,0-2.835-1.276-2.835-2.835v-0.415c0-1.559,1.276-2.835,2.835-2.835h0.415c1.559,0,2.835,1.276,2.835,2.835v0.415
		C192.525,194.688,191.249,195.964,189.69,195.964z"/></g>



</svg>
    </div>
</div>
{% endblock %}
